@import 'nib';

global-reset()

body {
  color: white;
  background: rgb(2, 16, 55);
}
a {
  color: white;
}

#main {
  max-width: 800px;
  margin: 200px auto 0;
}

#footer {
  absolute: bottom right;
}

h1 {
  text-transform: uppercase;
}