@import 'nib';
@import './animation';


background-blue = rgb(2, 16, 55);

global-reset()

centered(width, height) {
  absolute: top 50% left 50%;
  width: width;
  height: height;
  margin: -0.5 * width -0.5 * height;
}

html {
}

body {
  color: white;
  background: transparent;
  height: 650px;
}
a {
  color: white;
}

#main {
  max-width: 800px;
  margin: 0px auto;
  padding-top: 200px;
}

#footer {
  absolute: bottom right;
}

h1 {
  text-transform: uppercase;
}

