$font-size = 16;
$line = $font-size * 1.5;

$h1 = $font-size * 3;
$h2 = $font-size + 12;
$h3 = $font-size + 8;
$h4 = $font-size;
$small = $font-size - 2;

h1(){
  font-size: ($h1 / $font-size) * 1em ;
  line-height: ($line * 2) / $h1 * 1em;
}
h2(){
  font-size: ($h2 / $font-size) * 1em ;
  line-height: ($line / $h2)  * 1em;
}
h3(){
  font-size: ($h3 / $font-size) * 1em ;
  line-height: ($line / $h3) * 1em;
}
h4(){
  font-size: ($h4 / $font-size) * 1em;
  line-height: ($line / $h4) * 1em;
}
small(){
  font-size: ($small / $font-size) * 1em ;
  line-height: ($line / $small) * 1em;
}


/* post body specific font-sizes to normalize fonts in markdown */
$h1-alt = $h3;
$h2-alt = $h3 - 2;
$h3-alt = $h3 - 4;
$h4-alt = $h3 - 6;
$h5-alt = $h4;
$h6-alt = $small;

h1-alt(){
  font-size: ($h1-alt / $font-size) * 1em ;
  line-height: ($line * 2) / $h1-alt * 1em;
}
h2-alt(){
  font-size: ($h2-alt / $font-size) * 1em ;
  line-height: ($line / $h2-alt)  * 1em;
}
h3-alt(){
  font-size: ($h3-alt / $font-size) * 1em ;
  line-height: ($line / $h3-alt) * 1em;
}
h4-alt(){
  font-size: ($h4-alt / $font-size) * 1em;
  line-height: ($line / $h4-alt) * 1em;
}
h5-alt(){
  font-size: ($h5-alt / $font-size) * 1em;
  line-height: ($line / $h5-alt) * 1em;
}
h6-alt(){
  font-size: ($h6-alt / $font-size) * 1em;
  line-height: ($line / $h6-alt) * 1em;
}