/* Colors */
$c-primary = #0197ce;
$c-secondary = #0066cc;
$c-tertiary = #656878;

$c-high = #333;
$c-medium-high = #666;
$c-medium = #999;
$c-medium-low = #ccc;
$c-low = #eee;
$c-empty = $f9f9f9;


/* Type */
$f-primary = 'Vollkorn', Palatino, "Palatino Linotype", Georgia, serif;
$f-secondary = 'Franklin Gothic Medium', 'Arial Narrow Bold', Arial, sans-serif;