/* Colors */
$c-primary = #0197ce;
$c-secondary = #0066cc;
$c-tertiary = #656878;

$c-high = #333;
$c-medium-high = #666;
$c-medium = #999;
$c-medium-low = #ccc;
$c-low = #eee;
$c-empty = #f9f9f9;

/* Pastels */
$c-1 = #f59260;
$c-2 = #92c6bc;
$c-3 = #c5ae7e;
$c-4 = #8cb3ce;
$c-5 = #aa9cb5;
$c-6 = #44c283;

/* Type */
$f-primary = 'Vollkorn', Palatino, "Palatino Linotype", Georgia, serif;
$f-secondary = 'PT Sans Narrow', 'Arial Narrow Bold', Arial, sans-serif;