// temporary container until we style our own login or MDG has a more unique namespace
.login {
  margin-left: 50px
  margin-bottom: 250px;
  position: relative;
}

.post .body.admin .name-form {
  margin: 0;
  input {
    margin 0
  }
}