#header {
  margin: 20px 0;
  border-bottom: 2px solid #aaa;
  
  #login-buttons {
    float: right
  }
}

#footer {
  margin: 20px 0;
  border-top: 2px solid #aaa;
}

#header, #footer {
  h2 {
    margin: 10px 0;
    a {
      text-decoration: none
    }
  }
}