#header {
  padding: 30px 0;
  h1 a {
    font-family: 'Raleway', Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    line-height: 1;
    font-size: 50px;
    font-weight: 900;
    
    .first-word {
      display: block;
      margin-bottom: 0;
      font-weight: 100;
    }
  }
  
  // XXX: style these
  #login-buttons {
    float: right
  }
}

#footer {
  margin: 20px 0;
  border-top: 2px solid #aaa;
}

#header, #footer {
  h2 {
    margin: 10px 0;
    a {
      text-decoration: none
    }
  }
}