@import 'include/all';

#header {
  #banner {
    box-sizing: border-box;
    height: 9em;
    overflow: hidden;
    position: relative;
    width: 100%;
    &:after {
      background-image: linear-gradient(top, rgba(black, .3), rgba(black, 0) 50%, rgba(black, .5) 100% );
      content: '';
      positioning(absolute, 0,0,0,0);
    }
    h1 {
      font-size: 48px;
      line-height: 48px;
      margin-top: -24px;
      positioning(absolute, 50%, auto, auto, 32px);
      text-transform: uppercase;
      z-index: 1;
      a {
        color: white;
      }
    }
    img {
      positioning(absolute, 25%, auto, auto, auto, 100%, auto);
      margin-top: -25%;
    }
  }
  #controls {
    background: white;
    border-bottom: 1px solid $c-low;
    height: 3em;
    line-height: 3em;
    text-align: center;
    &:before,
    &:after {
      background: $c-low;
      content: '';
    }
    &:before {
      positioning(absolute, 0, auto, 0, 0, 1px);
    }
    &:after {
      positioning(absolute, 0, 0, 0, auto, 1px);
    }
    .control-title {
      font-family: $f-secondary;
      font-size: 32px;
      text-transform: uppercase;
      a {
        color: black;
      }
    }
    .btn.back {
      positioning(absolute, 8px, auto, auto, 24px);
      text-transform: uppercase;
      transition: none;
      &:after {
        border-color: transparent $c-medium transparent transparent;
        border-style: solid;
        border-width: 12px 7px 12px 5px;
        content: '';
        positioning(absolute, 3px, auto, auto, -12px, 0, 0);
      }
      &:hover:after {
        border-color: transparent $c-medium-high transparent transparent;
      }
      &:active:after {
        border-color: transparent $c-medium-high transparent transparent;
      }
    }
    .btn.top {
      positioning(absolute, 8px, 24px);
      text-transform: uppercase;
    }
    .shadow {
      background-image: linear-gradient(top, rgba(black, .1), transparent 100% );
      positioning(absolute, 100%, 0, auto, 0, auto, 1em);
    }
  }

  // XXX: style these
  #login-buttons {
    float: right
  }

  /* controls are hidden until the header isn't visible or we're on a single page */
  #controls {
    min-height: 0;
    opacity:0;
    transition: all ease-out 800ms;
  }
  #controls .top {
    opacity: 1;
    transition: opacity ease-out 800ms;
  }
  &.scrolledEnough,
  &.single {
    #controls {
      min-height: auto;
      opacity: 1;
      transition: opacity ease-out 800ms;
    }
  }
  &.single{
    #banner {
      height: 3em;
      min-height: 0;
      opacity:0;
      transition: all ease-out 800ms;
    }
    // top button is invisible when we havent scrolled yet.
    &:not(.scrolledEnough) #controls .top {
      opacity: 0;
    }
  }
}

#sidebar {
  position: relative;
  &:after {
    background: $c-low;
    content: '';
    positioning(absolute, 0, 0, 0, auto, 1px);
  }
  .about {
    border-bottom: 1px solid $c-low;
    color: #666;
    p {
      font-family: $f-primary;
    }
  }
  .admin {
    border-bottom: 1px solid $c-low;
    box-sizing: border-box;
    line-height: 47px;
    margin: 0 -1.5em ;
    padding: 0 1.5em;
    .avatar {
      display: inline-block;
      vertical-align: middle;
    }
    #login-buttons-logout{
      positioning(absolute, 8px, 24px, auto, auto);
    }
  }
  .links {
    border-bottom: 1px solid $c-low;
    box-sizing: border-box;
    margin: 0 -1.5em 1.5em;
    padding: 0 1.5em;
    a {
      color: $c-medium-high;
      display: inline-block;
      font-size: 24px;
      line-height: 47px;
      height: 47px;
      + a {
        margin-left: .5em;
      }
    }
  }
  .join {
    margin: .75em 0;
    form {
      clear: left;
    }
  }
  .attribution{
    color: $c-medium-low;
  }
}

#footer {
  border-top: 2px solid #aaa;
  margin: 20px 0;
}

#header, #footer {
  h2 {
    margin: 10px 0;
    a {
      text-decoration: none
    }
  }
}