@import 'include/all';

body {
  color: $c-high;
  font-family: $f-primary;
  font-size: $font-size * 1px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, ul, ol {
  margin-bottom: 0.75em;
}

h1 {
  h1();
}
h2 {
  h2();
}
h3 {
  h3();
}
h4 {
  h4();
}
.small {
  small();
}

a {
  link();
  text-decoration: none;
  transition: all ease-out 200ms;
}

button {
  border: none;
  outline: none;
}

pre {
  background: #ebebf1;
  padding: 0 .5em;
}
code {
  background: #ebebf1;
  display: inline-block;
  font-family: Monaco, monospace;
  padding: 0 4px;
  text-shadow: rgba(white, .5) 0 1px 0;
}

pre > code {
  font-size: 1em;
  padding: 0;
}

li {
  list-style-position: inside;
}

.alt-type {
  font-family: $f-secondary;
}

table {
  margin: .75em 0;
  thead {
    @extend .alt-type;
    border-bottom: 1px solid $c-medium-low;
    border-top: 1px solid $c-medium-low;
    text-transform: uppercase;
    th:first-child {
      padding-left: .5em;
    }
  }
  tbody {
    tr {
      & + tr {
        border-top: 1px solid $c-low;
      }
      &:nth-child(odd) {
        background: $c-empty;
      }
      td {
        padding: .5em 1em .5em 0;
        small();
        &:first-child {
          padding-left: .5em;
        }
        input {
          height: 24px;
        }
      }
    }
  }
}