// base styles

body {
  max-width: 960px;
  margin: 0 auto;
  
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 32px
}

h2 { 
  font-weight: bold;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 0.5em;
}

code {
  font-family: Monaco, monospace;
  background: #eee;
  font-size: 14px;
  padding: 0 4px;
}

form {
  width: 600px;
  margin: 0 auto;
  
  label, input {
    display: block;
  }
  
  input, textarea {
    width: 100%;
  }
  
  textarea {
    height: 400px;
  }
  
  button {
    float: right;
  }
}

li {
  list-style-position: inside;
}