@import 'include/all';

body {
  font-family: $f-primary;
  font-size: 16px;
  line-height: 1.5;
  font();
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, ul, ol {
  margin-bottom: 0.75em;
}

h1 {
  h1();
}
h2 {
  h2();
}
h3 {
  h3();
}
h4 {
  h4();
}
.small {
  small();
}

a {
  link();
  text-decoration: none;
  transition: all ease-out 200ms;
}

.btn{
  cursor: pointer;
  background: #999;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  padding: 8px 10px;
  font-size: $small * 1px;
  font-family: $f-secondary;
  line-height: 1em;
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-size: .7em;
    line-height: 1em;
    vertical-align: baseline;
  }
}

code {
  font-family: Monaco, monospace;
  background: #ebebf1;
  padding: 0 4px;
  text-shadow: rgba(white, .5) 0 1px 0;
}

form {
  margin: 0 auto;

  label {
    float: left;
  }
  .field_error {
    float: right;
    color: red;
  }

  label, input {
    display: block;
    clear: both
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    height: 400px;
  }

  fieldset.buttons {
    float: right;
  }
}

li {
  list-style-position: inside;
}

.alt-type {
  font-family: $f-secondary;
}