@import 'include/all';

wrapperMaxWidth = 960px
contentMaxWidth = 720px;

html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  min-height: 33em;
  position: relative;
  width: wrapperMaxWidth;
  #content {
    overflow: hidden;
    width: contentMaxWidth;
  }
  #header #controls {
    @media screen and (min-width: 960px) {
      position: fixed;
    }
    position:absolute;
    top: 0;
    width: contentMaxWidth;
    z-index: 2;
  }
  #sidebar {
    box-sizing: border-box;
    overflow: visible;
    padding: 0em 1.5em;
    positioning(absolute, 0, 0, auto, auto , (wrapperMaxWidth - contentMaxWidth) , 100%);
    .attribution {
      positioning(absolute, auto, auto, .75em, 1.5em);
    }
  }
}