@import 'include/all';

// layout
wrapperMaxWidth = 960px
contentMaxWidth = 720px;

html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  width: wrapperMaxWidth;
  position: relative;
  #content {
    width: contentMaxWidth;
    overflow: hidden;
  }
  #header #controls {
    position: fixed;
    top: 0;
    width: 100%
    max-width: contentMaxWidth;
    z-index: 2;
  }
  #sidebar {
    box-sizing: border-box;
    margin-left: (wrapperMaxWidth - contentMaxWidth);
    overflow: auto;
    padding: 0em 1.5em;
    positioning(absolute, 0, 0, auto, auto , (wrapperMaxWidth - contentMaxWidth) , 100%);
    .attribution {
      positioning(absolute, auto, auto, .75em, 1.5em);
    }
    .join {
      margin: .75em 0;
    }
  }
}