@import 'include/all';

// layout
wrapperMaxWidth = 960px
contentMaxWidth = 720px;

html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  max-width: wrapperMaxWidth;
  position: relative;
  #content {
    max-width: contentMaxWidth;
    overflow: hidden;
  }
  #header #controls {
    position: fixed;
    top: 0;
    width: 100%
    max-width: contentMaxWidth;
    z-index: 2;
  }
  #sidebar {
    box-sizing: border-box;
    padding: 0em 1.5em;
    positioning(fixed, 0, 0, auto, 50%, (wrapperMaxWidth - contentMaxWidth) , 100%);
    margin-left: (wrapperMaxWidth - contentMaxWidth);
    .attribution {
      positioning(absolute, auto, auto, .75em, 1.5em);
    }
  }
}