@import 'nib';

.post {
  list-style-type: none
  background: #fff;
  
  .body, .header {
    > *:not(.slider) {
      margin: 20px;
    }
  }
  
  .header {
    min-height: 10px;
    .permalink, .edit {
      float: right;
    }
    .edit {
      margin-top: 0;
    }
    .title, .byline {
      font-weight: normal;
    }
    .byline {
      font-family: 'Raleway', Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}

.post:not(.open) {
  // XXX: only show the permalink whilst it's open
  // we'll end up just restyling this to be more subtle
  .permalink {
    display: none;
  }
  .edit {
    display: none;
  }
}

.post form {
  padding: 20px;
  clearfix: true;
}


// colors 
with-slider(color) {
  position: relative
  z-index: 0;
  & .slider {
    content: '';
    absolute: top left;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: color;
  }
}

.post:nth-child(4n + 1) .header {
  with-slider: rgb(251, 144, 103); // ORANGE
}
.post:nth-child(4n + 2) .header {
  with-slider: rgb(157, 206, 198); // GREEN
}
.post:nth-child(4n + 3) .header {
  with-slider: rgb(207, 185, 150); // BROWN
}
.post:nth-child(4n + 4) .header {
  with-slider: rgb(154, 190, 211); // BLUE
}


animation-time = 700ms;
.post {
  .header, .body {
    overflow: hidden;
  }
  .header .slider, .body {
    .animating & {
      transition: max-height animation-time ease-in 0;
    }
  }
  .body {
    max-height: 0px;
  }
  .header .slider {
    max-height: 140px;
  }
}

.post.open {
  .body { 
    max-height: 300px;
  }
  .header .slider {
    max-height: 10px;
  }
}

.post.selected {
  .body {
    max-height: 2000px;
  }
}

.anySelected .post:not(.selected) {
  .body, .header {
    min-height: 0;
    max-height: 0;
  }
}

// transition -- first attempt at rotation, not very good
// .post .body {
//   transform: rotateX(-90deg);
// }
// 
// .post.open {
//   transform: rotateX(90deg);
//   .body {
//     height: auto
//   }
// }
// transition-time = 1000ms;
// .post {
//   transition: all transition-time linear 0;
//   transform-style: preserve-3d;
//   .body {
//     transition: height 0 linear transition-time;
//   }
// }