@import '../include/all';

.btn{
  background: $c-medium;
  border: none !important;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: $small * 1px;
  font-family: $f-secondary;
  line-height: 1em;
  padding: 8px 10px;
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-size: .7em;
    line-height: 1em;
    vertical-align: baseline;
  }
  &:hover {
    background: $c-medium-high;
    color: white;
  }
  &:active {
    background: $c-medium-high;
    box-shadow: rgba(black, .2) 0 1px 3px 0 inset;
    color: white;
  }
  &.primary {
    background: $c-primary;
    &:hover {
      background: lighten($c-primary, 10%);
      color: white;
    }
    &:active {
      background: lighten($c-primary, 10%);
      box-shadow: rgba(black, .2) 0 1px 3px 0 inset;
      color: white;
    }
  }
}