@import '../include/all';

form {
  margin: 0 auto;

  label {
    float: left;
  }
  .field_error {
    float: right;
    color: red;
  }

  label, input {
    display: block;
    clear: both
  }

  input, textarea {
    stdform();
    width: 100%;
  }

  textarea {
    height: 400px;
  }

  .buttons {
    text-align: right;
  }
}