@import '../include/all';

textarea {
  stdform();
  display: block;
  height: 600px;
  overflow: auto;
  resize: none;
}

input {
  stdform();
  font-size: $font-size * 1px;
  height: 2.2em; //for strange lineheight rendering in chrome and FF
  line-height: 1em;
  margin: .4em auto;
  padding:.35em .5em;
  &[type=checkbox] {
    height: 1.5em;
    margin: 0 6px 0 0 ;
    vertical-align: bottom;
    width: auto;
  }
}
label {
  color: #666;
  display: inline-block;
  font-weight: bold;
}

form {
  clearfix();
  font-family: $f-secondary;
  text-align: left;
  label {
    float: left;
    margin-right: 4px;
  }
  /* Exceptions */
  input[type=checkbox] + label, input[type=radio] + label {
    color: #333;
    display: inline;
    font-weight: normal;
  }
  textarea, input, select {
    float: left;
    margin-bottom: 1em;
    width: 100%;
  }
  select {
    margin-bottom: 1.5em;
  }
  p {
    margin-bottom: 1.5em;
  }
  .formError {
    color: #ffcc00;
    float: left;
    font-style: italic;
  }
  &.disabled, &[disabled] {
    > * {
      opacity: .5;
    }
    button {
      opacity: 1;
    }
  }
  .buttons {
    clear: both;
    text-align: right;
    button, a {
      display: inline-block;
    }
  }
}