html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{color:#fff;background:#021037}
a{color:#fff}
#main{max-width:800px;margin:200px auto 0}
#footer{position:absolute;bottom:0;right:0}
h1{text-transform:uppercase}
.orbit,.orbit-shadow{position:absolute;left:50%;top:50%;margin:-250px 0 0 -250px;width:500px;height:500px;border:3px dashed #fff;-webkit-border-radius:500px;border-radius:500px;-webkit-transform:skew(-70deg,30deg);-moz-transform:skew(-70deg,30deg);-o-transform:skew(-70deg,30deg);-ms-transform:skew(-70deg,30deg);transform:skew(-70deg,30deg)}
.orbit-shadow{width:497px;height:497px;background-color:rgba(2,16,55,0.5);border:none;margin-top:-248px}
