.orbitGroup {
  -webkit-transform: translate(750px, 500px) skew(-70deg, 30deg);
  -moz-transform: translate(750px, 500px) skew(-70deg, 30deg);
  -o-transform: translate(750px, 500px) skew(-70deg, 30deg);
  -ms-transform: translate(750px, 500px) skew(-70deg, 30deg);
  transform: translate(750px, 500px) skew(-70deg, 30deg);
}
.orbit {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 5 3;
}
.rotatingGroup {
  -webkit-animation: rotate 120s linear 0 infinite;
  -moz-animation: rotate 120s linear 0 infinite;
  -o-animation: rotate 120s linear 0 infinite;
  -ms-animation: rotate 120s linear 0 infinite;
  animation: rotate 120s linear 0 infinite;
}
.trail {
  stroke: #fff;
  stroke-width: 1px;
  fill: none;
}
.spaceshipGroup {
  -webkit-transform-origin: 200px 0px;
  -moz-transform-origin: 200px 0px;
  -o-transform-origin: 200px 0px;
  -ms-transform-origin: 200px 0px;
  transform-origin: 200px 0px;
  -webkit-animation: unskew 120s linear 0 infinite;
  -moz-animation: unskew 120s linear 0 infinite;
  -o-animation: unskew 120s linear 0 infinite;
  -ms-animation: unskew 120s linear 0 infinite;
  animation: unskew 120s linear 0 infinite;
}
.dot {
  fill: #f00;
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
@-moz-keyframes unskew {
  0% {
    -webkit-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    transform: rotateZ(0) skew(70deg, -30deg) scale(1);
  }

  50% {
    -webkit-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -moz-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -o-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -ms-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
  }
}
@-webkit-keyframes unskew {
  0% {
    -webkit-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    transform: rotateZ(0) skew(70deg, -30deg) scale(1);
  }

  50% {
    -webkit-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -moz-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -o-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -ms-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
  }
}
@-o-keyframes unskew {
  0% {
    -webkit-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    transform: rotateZ(0) skew(70deg, -30deg) scale(1);
  }

  50% {
    -webkit-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -moz-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -o-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -ms-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
  }
}
@-ms-keyframes unskew {
  0% {
    -webkit-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    transform: rotateZ(0) skew(70deg, -30deg) scale(1);
  }

  50% {
    -webkit-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -moz-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -o-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -ms-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
  }
}
@keyframes unskew {
  0% {
    -webkit-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(0) skew(70deg, -30deg) scale(1);
    transform: rotateZ(0) skew(70deg, -30deg) scale(1);
  }

  50% {
    -webkit-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -moz-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -o-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    -ms-transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
    transform: rotateZ(180deg) skew(70deg, -30deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -moz-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -o-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    -ms-transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
    transform: rotateZ(360deg) skew(70deg, -30deg) scale(1);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  height: 100%;
}
body {
  color: #fff;
  background: transparent;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body #main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-top: 200px;
  width: 100%;
}
body #main .panel {
  width: 800px;
  margin: 0px auto;
}
body #main .panel h1 {
  color: #eee;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 96px;
  font-weight: bold;
  text-shadow: rgba(0,0,0,0.3) 0 4px 0, #fff 0 1px 0;
}
body #main .panel .tagline {
  font-size: 24px;
  line-height: 36px;
}
body #main .panel .button-wrapper {
  background: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 5px 0 inset;
  box-shadow: rgba(0,0,0,0.3) 0 1px 5px 0 inset;
  display: inline-block;
  margin-top: 16px;
  padding: 3px 3px 5px;
}
body #main .panel .button-wrapper .btn {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  font-size: 24px;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 0 40px;
  position: relative;
  top: -3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(255,255,255,0.3) 0 0 0 1px inset, #fff 0 1px 0 0 inset, #721209 0 5px 0 0;
  box-shadow: rgba(255,255,255,0.3) 0 0 0 1px inset, #fff 0 1px 0 0 inset, #721209 0 5px 0 0;
}
body .orbit-wrapper {
  height: 650px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
body .orbit-wrapper .drawing {
  position: absolute;
  left: -20%;
}
a {
  color: #fff;
  text-decoration: none;
}
#footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#footer >* {
  display: inline-block;
  vertical-align: top;
}
#footer .meteor {
  font-size: 32px;
  font-weight: bold;
  text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}
#footer .join {
  font-weight: lighter;
  font-size: 32px;
  padding: 0 16px;
}
#footer .percolate {
  bottom: -3px;
  display: inline-block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
  text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}
#footer .percolate img {
  float: left;
  margin-top: -4px;
  margin-right: 10px;
}
h1 {
  text-transform: uppercase;
}
