<template name="admin">
  {{#if loggedIn}}
    {{#if currentUserVerified}}
      {{> adminUsersList}}
      {{> adminPostsList}}
    {{else}}
      {{> unverifiedInfo}}
    {{/if}}
  {{else}}
    {{#if sessionGet "noUsers"}}
      {{> setupWizard}}
    {{else}}
      {{> login}}
    {{/if}}
  {{/if}}
</template>

<template name="setupWizard">
  <h1>Welcome to {{blogName}}!</h1>
  
  <p>Please take a moment to set up your Google Apps settings and to create
    the initial admininstrator account. 
    The site is open until this account has been created; once you've done so it will be locked down and you can invite more admins to contribute.
  </p>
  
  {{> login}}
</template>

<template name="login">
  <div class="login">
    {{loginButtons align="left"}}
  </div>
</template>

<template name="adminUsersList">
  <h2>Admins</h2>
  <p>
</template>

<template name="adminPostsList">
  <h2>Posts</h2>
  <table class="adminPosts">
    <thead>
      <tr>
        <th>Post Title</th>
        <th>Post Author</th>
        <th>Published?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
      <tr>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td><a href="#" class="toggle-published">Yes</a></td>
        <td><a href="{{editPostUrl this}}">Edit</a></td>
        <td><a href="#" class="delete">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="unverifiedInfo">
  <h2>Your account is unverified</h2>
  <p>Please click the verification link in the email that was sent to your address. Have a nice day.</p>
</template>