<template name="allPosts">
  {{#each visiblePosts}}
    {{> post}}
  {{/each}}
</template>

<template name="post">
  <div class="post">
    <div class="header">
      {{> postMeta}}
    </div>
    {{#if currentPost}}
    <div class="body">
      {{> postMeta}}
      {{#markdown}}{{{body}}}{{/markdown}}
    </div>
    {{/if}}
  </div>
</template>

<template name="postMeta">
  <div class="metadata">
    <h2>{{> postLink}}</h2>
    <h4>{{author}} - {{formatDate publishedAt}}</h4>
  </div>
</template>



<template name="editPost">
  {{> postForm currentPost}}
</template>

<template name="newPost">
  {{> postForm newPost}}
</template>
  
<template name="postForm">
  <form class="post">
    <label for="title">Title</label>
    <div class="field_error">{{errors.title}}</div>
    <input type="text" name="title" value="{{title}}"></input>
    
    <label for="author">Author</label>
    <div class="field_error">{{errors.author}}</div>
    <input type="text" name="author" value="{{author}}"></input>
    
    <label for="body">Body (Markdown)</label>
    <div class="field_error">{{errors.body}}</div>
    <textarea name="body">{{body}}</textarea>
    
    <fieldset class="buttons">
      <a class="cancel">Cancel</a>
      <button class="save" type="submit">Save</button>
    </fieldset>
  </form>
</template>

<template name="postLink">
  <a href="{{postUrl this}}">{{title}}</a>
</template>