<template name="allPosts">
  <ul class="posts">
    {{#each visiblePosts}}
      {{> post}}
    {{/each}}
  </ul>
</template>

<template name="post">
  <li class="post {{openClass}}">
    <div class="header">
      <div class="slider"></div>
      {{> postMeta}}
    </div>
    {{! XXX: only render the body if the post is visible}}
    <div class="body">
      {{#markdown}}{{{body}}}{{/markdown}}
    </div>
  </li>
</template>

<template name="postMeta">
  <a class="permalink" href="{{postUrl this}}"></a>    
  <h2 class="title">{{title}}</h2>
  <h4 class="byline">{{formatDate publishedAt}} {{author}}</h4>
</template>



<template name="editPost">
  {{> postForm currentPost}}
</template>

<template name="newPost">
  {{> postForm newPost}}
</template>
  
<template name="postForm">
  <form class="post">
    <label for="title">Title</label>
    <div class="field_error">{{errors.title}}</div>
    <input type="text" name="title" value="{{title}}"></input>
    
    <label for="author">Author</label>
    <div class="field_error">{{errors.author}}</div>
    <input type="text" name="author" value="{{author}}"></input>
    
    <label for="body">Body (Markdown)</label>
    <div class="field_error">{{errors.body}}</div>
    <textarea name="body">{{body}}</textarea>
    
    <fieldset class="buttons">
      <a class="cancel">Cancel</a>
      <button class="save" type="submit">Save</button>
    </fieldset>
  </form>
</template>
