<template name="allPosts">
  {{#each visiblePosts}}
    {{> post}}
  {{/each}}
  
  {{#if nextPost}}
    <a href="{{postUrl nextPost}}">Read older posts</a>
  {{/if}}
  
  {{> postList}}
</template>

<template name="singlePost">
  {{#if currentPost}}
    {{> post currentPost}}
    
    {{#if previousPost}}
    <div class="previousPost">
      ⪻ {{> postLink previousPost}}
    </div>
    {{/if}}
    
    {{#if nextPost}}
    <div class="nextPost">
      {{> postLink nextPost}} ⪼
    </div>
    {{/if}}
    
    {{> postList}}    
  {{else}}
    {{> notFound}}
  {{/if}}
</template>

<template name="postList">
  <h2><a href="/">The Meteor blog<a/></h2>
  <ul class="posts">
    {{#each allPosts}}
    <li>{{formatDateShort publishedAt}} {{> postLink}}</li>
    {{/each}}
  </ul>
</template>

<template name="post">
  {{#if editing}}
    {{> editPost}}
  {{else}}
    {{> showPost}}
  {{/if}}
</template>

<template name="showPost">
  <div class="post">
    <div class="metadata">
      <h2>{{> postLink}}</h2>
      <h4>{{author}} - {{formatDate publishedAt}}</h4>
      {{#if currentUser}}
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
      {{/if}}
    </div>
    {{#markdown}}{{{body}}}{{/markdown}}
  </div>
</template>

<template name="editPost">
  {{> postForm}}
</template>

<template name="newPost">
  {{> postForm newPost}}
</template>
  
<template name="postForm">
  <form class="post">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{title}}"></input>
    
    <label for="author">Author</label>
    <input type="text" name="author" value="{{author}}"></input>
    
    <label for="body">Body (Markdown)</label>
    <textarea name="body">{{body}}</textarea>
    
    <button class="cancel">Cancel</button>
    <button class="save" type="submit">Save</button>
  </form>
</template>

<template name="postLink">
  <a href="{{postUrl this}}">{{title}}</a>
</template>