<template name="singlePost">
  <ul class="posts">
    {{> post selectedPost}}
  </ul>
  {{#if showNav}}
    <ul class="single-nav">
      {{> post prevPost}}
      {{> post nextPost}}
    </ul>
  {{/if}}
</template>

<template name="post">
  {{#if this}}
  <li class="post color-{{color}} {{openClass}} {{selectedClass}} {{nextPrev}}">
    {{#if editing}}
    {{> editPost}}

    {{else}}
    <div class="header">
      {{#if nextPrev}}
      <h4 class="nextPrev alt-type">{{nextPrev}}</h4>
      {{/if}}
      <div class="slider"></div>
      {{> postMeta}}
    </div>

    {{#if open}}
    <div class="body">
      {{#markdown}}{{{body}}}{{/markdown}}
    </div>
    {{/if}}

    {{/if}}
  </li>
  {{/if}}
</template>

<template name="postMeta">
  <a href="{{postLink}}" class="permalink"><span class="icon-link"></span></a>

  <h2 class="title">{{title}}</h2>

  <div class="metadata alt-type">
    <span><img class="avatar" src="{{gravatarURL authorGravatarHash size="20"}}"/>{{author}}</span>
    <span><span class="icon-clock"></span> {{formatDate publishedAt}}</span>
    {{#if currentUser}}
      <a href="#" class="edit btn"><span class="icon-pencil"></span> Edit</a>
    {{/if}}
  </div>
</template>

<template name="editPost">
  {{> postForm}}
</template>

<template name="newPost">
  {{#with newPost}}
    <li class="post color-{{color}} open animating">
      {{> postForm}}
    </li>
  {{/with}}
</template>

<template name="postForm">
  <div class="header"><div class="slider"></div></div>
  <form>
    <label for="title">Title</label>
    <div class="formError">{{errors.title}}</div>
    <input type="text" name="title" value="{{title}}"></input>

    <label for="author">Author</label>
    <div class="formError">{{errors.author}}</div>
    <input type="text" name="author" value="{{author}}"></input>

    <label for="body">Body (Markdown)</label>
    <div class="formError">{{errors.body}}</div>
    <textarea name="body">{{body}}</textarea>

    <div class="buttons">
      {{#if _id}}
        {{#if published}}
          <button class="unpublish btn">Un-Publish</button>
        {{else}}
          <button class="publish btn">Publish</button>
        {{/if}}
        <a href="#" class="cancel btn">Cancel</a>
        <a href="#" class="save btn primary" type="submit">Save</a>
      {{else}}
        <a href="#" class="cancel btn">Cancel</a>
        <button class="save btn primary" type="submit">Save to Drafts</button>
        <button class="save btn primary" type="submit">Save and Publish</button>
      {{/if}}
    </div>
  </form>
</template>